<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBW9OeEsB3gQp7uVKi2E_SPnTxf6UBaSCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>759635764833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reservationManager</string>
	<key>PROJECT_ID</key>
	<string>reservation-handler</string>
	<key>STORAGE_BUCKET</key>
	<string>reservation-handler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759635764833:ios:f87566896d3b30e16bec20</string>
	<key>DATABASE_URL</key>
	<string>https://reservation-handler-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>